<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Music Manager</title>
    {{<head}}{{/head}}
  </head>
  <body>
    <div class="mainCol">
      {{<header}}{{/header}}
      <div class="logonBox">
        <h2>Bad Request</h2>
        <p>You made a bad request!</p>
      </div>
      {{<footer}}{{/footer}}
    </div>
  </body>
</html>