<div class="footer">
    Built by the <a href="http://bsec-lin.bnsec.cuda-inc.com">BNSec Team</a>.
</div>
<!--
<div class="messages">
    {{#messages}}
        {{.}}<br/>

    {{/messages}}
</div>
-->